.movie-detail {
    background: #15e0a078;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 1rem auto;
    text-align: center;
  }
  
  .movie-detail img {
    width: 100%;
    border-radius: 8px;
  }
  
  .close-btn {
    background: #0b0b0a;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .close-btn:hover {
    background: #c0392b;
  }