.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.upcoming-button {
  position: absolute;
  top: 10px; /* 距离页面顶部的距离 */
  left: 10px; /* 距离页面左侧的距离 */
  padding: 10px 20px; /* 按钮的内边距 */
  font-size: 16px; /* 按钮字体大小 */
  background-color: #007bff; /* 按钮背景颜色 */
  color: white; /* 按钮文字颜色 */
  border: none; /* 去掉边框 */
  border-radius: 5px; /* 按钮圆角 */
  cursor: pointer; /* 鼠标指针样式 */
  z-index: 1000; /* 确保按钮显示在最前 */
}

.button-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;  
  border: none;             
  color: white;               
  border-radius: 4px;         
}

.upcoming-button:hover {
  background-color: #0056b3; /* 按钮悬停颜色 */
}

